/* Version 1.0 */
* {
    margin: 0;
    padding: 0;
  }
  
  .main-content{
    background-color:#e74c3c;
    color: hsl(192, 15%, 94%);
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    padding:2rem;
  }